body {
    background: rgb(255, 255, 255);
    font-family: "Cambria", serif;
}

.header {
    color: black;
    font-size: xx-large;
    padding: 5px 10px;
}

.footer {
    background-color: rgb(186, 222, 187);
    padding: 6px;
    clear: both;
}
